* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  color: #ad7e3c;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
